body{
    background-color: #283747;
}

header{
    background-color: #004E7C;
}

li {
    display: inline-block;
}
/* daiwko navigaciis sheqmna */
.navbar{
    display: inline-block;
    vertical-align: middle;
    margin-left: 132px;
}
.container{
    width: 1127px;
    margin: 0 auto;
}

.icon{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 29px 29px 30px 30px;
    border: 2px solid black;
}

.navbar-li{
    color: blanchedalmond;
    display: inline-block;
    padding: 0 50px;
    font-size: 17px;
    opacity: 0.8;
    transition: all 1s ease-in-out 0.2s;
    
}
.navbar-li:hover{
    transform:scale(1.5);
    color:rgb(19, 17, 17);
 }
 /* daiwko informaciuli seqciis sheeqmna */

 .gori-main{
     width: 350px;
 }